<!doctype html>
<html>
<head>
    <link href="./assets/css/main.css" rel="stylesheet">
</head>
<body>
<nav>
    <ul>
        <li><a href="./">Главная</a></li>
        {% if not auth %}
        <li><a href="./registration">Регистрация</a></li>
        <li><a href="./login">Авторизация</a></li>
        {% else %}
        <li><a href="./login/logout">Выйти</a></li>
        {% endif %}
    </ul>
</nav>
<main>
    {% if login %}
    <p>Пользователь: {{login}}</p>
    {% endif %}
    {% if level %}
    <p>Уровень: <span id="level">{{level}}</span></p>
    {% endif %}
    <h1>Крестики-нолики</h1>
    <h2>{{page_title}}</h2>
