<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="./assets/css/main.css" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <div class="container">
            <ul>
                <li><a href="./">Главная</a></li>
                {% if not auth %}
                <li><a href="./registration">Регистрация</a></li>
                <li><a href="./login">Авторизация</a></li>
                {% else %}
                <li><a href="./login/logout">Выйти</a></li>
                {% endif %}
                <hr/>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        {% if login %}
        <div class="statistics">
            <p>Пользователь: {{login}}</p>
            {% endif %}
            {% if level %}
            <p>Уровень: <span id="level">{{level}}</span></p>
        </div>
        {% endif %}
        <h1>Крестики-нолики</h1>
        <h2>{{page_title}}</h2>
