{% include 'header.html' %}
{% block main %}
<form id="registration-form" method="post">
    <label>
        Логин:
        <input type="text" name="login" id="login">
        {% if errors['login'] %}
        {{errors['login']}}
        {% endif %}
    </label>
    <label>
        Пароль:
        <input type="password" name="password" id="password">
    </label>
    <label>
        Повторить пароль:
        <input type="password" name="password_confirm">
    </label>
    <input type="button" id="submit" value="Отправить">
</form>

{% endblock %}
{% include 'footer.html' %}
